[Unit]
Description=Home Conditions Receive Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/code/home-conditions/
ExecStart=/home/pi/code/home-conditions/receive.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
