[Unit]
Description=Home Conditions Receive Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/code/home-conditions
ExecStart=sudo python /home/pi/code/home-conditions/receive.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
