[Unit]
Description=Home Conditions Web Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/code/home-conditions
ExecStart=/home/pi/code/home-conditions/webserver-start.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
